<nav class="navbar navbar-expand-md toolbar fixed-top">
  <a class="navbar-brand">
    <span>my<span class="text-warning">CareerNext</span></span>
  </a>

  <button
    class="btn text-reset border navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
      <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav w-100" style="justify-content: flex-end;">
      <li class="nav-item">
        <a class="nav-link">Learn</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Network</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Evaluate</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Jobs</a>
      </li>

      <li class="nav-item item-border-left">
        <a class="nav-link">
          <i class="pull-left fa fa-user-plus text-warning" style="font-size: 1.2rem;"></i>
          <div class="pull-left ml-2 text-sm-left" style="margin-top: -3px;">
            <p style="font-size: 11px;">1305</p>
            <p style="font-size: 8px;" class="font-weight-normal">Profile Score</p>
          </div>
        </a>
      </li>

      <li class="nav-item item-border-left">
        <a class="nav-link">
          <i class="fa fa-dollar pull-left dollar-sign bg-warning"></i>
          <div class="pull-left ml-2 text-sm-left" style="margin-top: -3px;">
            <p style="font-size: 11px;">400</p>
            <p style="font-size: 8px;" class="font-weight-normal">Token</p>
          </div>
        </a>
      </li>

      <li class="nav-item item-border-left">
        <a class="nav-link">
          <i class="fa fa-bell" style="font-size: 1.2rem;"></i>
        </a>
      </li>

      <li class="nav-item item-border-left">
        <a class="nav-link">
          <i class="fa fa-user-circle-o mr-2" style="vertical-align: middle;font-size: 1.5rem; margin-top: -3px;"></i>
          <span>Sangeeta</span>
        </a>  
      </li>
    </ul>
    
  </div>
</nav>