/* You can add global styles to this file, and also import other style files */
p {
  margin: 0;
}

body {
  font-size: 14px;
  background: #fafafa;
}

.col-4 {
  margin-top: auto;
  margin-bottom: auto;
}